@import '../vars';

header {
    background-color: $default-background;
    width: 100%;
    display: block;
    position: relative;
    height: 215px;
    background-image: url(img/devices.png);
    background-position: left bottom;
    background-repeat: no-repeat;

    .logo {
        background-image: url(img/logo.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 433px;
        max-width: calc(90% - 20px);
        height: 101px;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
